:root {
  /* :root is a clever way of saying "the outer-most element" */

  --footer-color: #ff4545; /* the default */
}

.element {
  /* padding: 15px; */
  /* width: 60%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 40px;
  background-color: var(--footer-color);
}
