* {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
}

.container {
  /* height: 50px; */
  width: 50%;
  margin: 1rem auto;
  background-color: #6d6d6d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  /* gap: 1rem; */
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  border-radius: 12px;
}
.container--2 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  /* flex-wrap: wrap; */
  /* gap: 1rem; */
  align-items: center;
  /* flex-direction: row; */
  flex: 1;
}
.date {
  background-color: black;
  /* height: 40px; */
  max-width: 100px;
  border: 2px solid #ddd;
  border-radius: 6px;
  padding: 2px;
}
.price {
  background-color: blueviolet;
  border: 2px solid #ddd;
  border-radius: 6px;
  font-size: 1.25rem;
}
@media (min-width: 580px) {
  .container--2 {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }
}
.container--2 h2 {
  font-size: 1.25rem;
  flex: 1;
  text-align: left;
}
